<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room Module</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kadwa&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kameron&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="index.js"></script>
  </head>

  <body>
    <nav>
      <div CLASS="nav-logo">
        <div class="emp">
          <img src="img/clogo.png" alt="Logo" class="logo" />
        </div>
        <div class="emp">
          <h2>REVA UNIVERSITY</h2>
        </div>
      </div>
    </nav>
    <div class="heading">
      <h1>Seat Allotment</h1>
    </div>

    <div class="main">
      <form action="/" method="post" class="searchbar">
        <input type="search" name="SRN" placeholder="Enter your SRN" />
        <button type="submit">
          <img src="img/search-icon-png-9969.png" alt="" />
        </button>
      </form>
    </div>
    <div class="para">
      <ul>
        <li>
          <p>
            Simply your exam day journey with our Room Finding Module Enter your
            SRN, explore the 2D map,and embrace a new era of convenience.
          </p>
        </li>

        <li>
          <p>
            No more Excel Sheet Headaches! Our model streamlines the process of
            finding your exam room,Enter tour Student Registration Number[SRN]
            and Voila! Your assigned room and seat details are at your
            fingertips.
          </p>
        </li>

        <li><p>[Get Started / Explore Module / Find your Room]</p></li>
      </ul>
    </div>
  </body>
</html>
